body{
    background-color: black;
    margin: 0px;
    padding: 0px;
}

h1{
    text-align: center;
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0%;
}

h2{
    text-align: center;
    font-size: 45px;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0%;
}

p {
    color: black;
    text-align: center;
    margin-top: 75px;
    font-size: 25px;
    font-weight: lighter;
}

.flexcol{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#navbar {
    background-image: linear-gradient(to bottom, green , white , green);
    height: 85px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none;
}

.show{
    display: block;
}

.align {
    text-align: center;
    margin: auto;
    height: 90%;
    width: 90%;
    line-height: 40px;
    font-size: 3vw;
}

input{
    background-image: linear-gradient(145deg, rgba(0, 128, 0, 0.521), rgba(255, 255, 255, 0.493), rgba(0, 128, 0, 0.514));
}




.submit {
    background: green;
    color: black;
    border: none;
    box-shadow: 0px 0px 7px 5px white;
    border-radius: 15px;
    font-size: 28px;
    height: 35px;
    width: 115px;
}



/*Loader Animation */

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid green;
    animation: loader 4s normal ease ;
    z-index: 4;
}

.loader-wrapper {
    display: inline-block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;
    background-image: linear-gradient(145deg, rgba(0, 128, 0, 0.521), rgba(255, 255, 255, 0.493), rgba(0, 128, 0, 0.514));
}

.loader-inner {
    display: inline-block;
    vertical-align: top;
    width: 100vw;
    height: 100vh;
    background-color: green;
    animation: loader 4s normal ease-in ;
}

@keyframes loader {
    0%   {top: 0px;}
    20%  {top: 200px;}
    40%  {top: 100px;}
    60%  {top: 200px;}
    80% {top: 0px;}
    100% {top: 100vh;}
}
  /* Loader animation */



#demo {
    text-align: center;
    font-size: 3vw;
    margin-top: 5vw;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0%;
    color: black;
}


.card {
    width: 505px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    transition: 2s;
}


  .outsideMove{
    transform: rotateY(-130deg);
    height: 80vh;
    width: 90vw;
    position: absolute;
    transform-style: preserve-3d;
    z-index: 1;
    transform-origin: left;
    transition: 2s;
    cursor: pointer;
  }

  .outside,
  .inside {
    height: 400px;
    width: 500px;
    position: absolute;
}

.inside {
    background-image: url(./flag.jpg);
    color: black;
    line-height: 3;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: space-between;
    text-shadow: 0px 0px 6px white;
}

.outside {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 1;
    transform-origin: left;
    transition: 2s;
    cursor: pointer;
}

.front {
    height: 400px;
    width: 500px;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateX(0deg);
}

.back {
    height: 400px;
    width: 200px;
    position: absolute;
    backface-visibility: hidden;

}

.front {
    background-image: linear-gradient(150deg, rgba(0, 128, 0, 1), rgba(255, 255, 255, 1), rgba(0, 128, 0, 1));  }

    .back {
    transform: rotateY(180deg);
    background: white;
}


.backBtn {
    margin-left: 65px;
    margin-top: 40px;
}

.backBtnImg {
    width: 30px;
    height: 30px;
}
.abc {
    margin: auto;
}


#pOR {
    font-size: 20px;
    display: block;
    color: black;
    text-align: center;
    margin: auto;
}

.signup {
    margin: auto;
    font-size: 18px;
}

.link {
    color: blue;
    text-decoration: underline;
    text-shadow: none;
    cursor: pointer;
    font-weight: bolder;
}
.link:visited {
    color: purple;
    text-decoration: underline;
    text-shadow: none;
}